/* ExperienceSection.module.css */
.contentTitle {
    color: var(--brown-3-color);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
    text-align: center;
}

.experience {
    width: 100%;
    align-items: center;
    margin-top: 60px;
    background: url(../assets/background8.png) no-repeat center;   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.experienceCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.experienceCard {
    width: 200px; 
    background-color: var(--white-color);
    color: var(--brown-3-color);
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 0.8px;
    position: relative;
    height: 250px;
}

.heading6 {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .experience {
        margin-top: 40px; 
    }
    .experience-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        width: 100%;
    }

    .experience-card {
        margin: 10px; 
        display: inline-block; 
    }
}
