.footer {
    padding: 1.5em;
    text-align: center;
    background: var(--pink-1-color);
    color: var(--white-color);
}

.footerHeading {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}

.p {
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
}
