:root {
  --white-color: #fff; 
  --black-color: #000;
  --brown-1-color: #57443a;
  --brown-2-color: #765B4D;
  --brown-3-color: #7d6254;
  --brown-4-color: #7e675a;
  --brown-5-color: #a48270;
  --pink-1-color: #cd5e77;
  --pink-2-color: #e17f93;
  --pink-3-color: #eba7ac;
  --pink-4-color: #f4c2c2;

}

/*global section*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  scroll-behavior: smooth;
}

section{
padding: 100px 200px;
}

@media screen and (max-width: 768px){
  section{
    padding: 80px 20px;
}

}
